* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Jura', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  top: 0;
  padding: 1rem;
}

.navbar__menu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  list-style: none;
}

.navbar__link {
  color: #000;
  display: inline;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 0.3rem;
  height: 100%;
}

.navbar__search {
  display: flex;
  width: 100vh;
}

.navbar__logo {
  margin-right: auto;
}

.navbar__logo img {
  min-width: 20vh;
  min-height: 10vh;
  width: 100%;
  height: auto;
}

.navbar__item {
  margin-right: 1rem;
}

#search-input {
  background-color: #DEFFB5;
  border: none;
  width: 800px;
  height: 40px;
  outline: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

#search-btn {
  background-color: #5ACD00;
  height: 38px;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-right: 40px;
}

#search-btn:hover {
  background: #9cffac;
  transition: all 0.3s ease;
}

.navbar__link:hover {
  color: #5ACD00;
  transition: all 0.3s ease;
}

.navbar__cart {
  display: flex;
  justify-content: right;
  align-content: center;
}

.navbar__cart img {
  width: 40px;
  height: 100%;
}

/*main section*/

main {
  background-color: #B5DE82;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.banner {
  position: relative;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category__title {
  color: #fff;
}

.category__image {
  mix-blend-mode: darken;
  border: 1px solid gray;
  border-radius: 50px;
  width: 350px;
  height: 400px;
}

.hot_sellers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #89d350;
}

.hot_sellers_items {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  padding: 0 50px;
}

.hot_sellers_item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.hot_sellers_img {
  width: 200px;
  height: 150px;
}

.hot_sellers_title {
  font-size: 30px;
  color: #000;
  margin-left: 0;
}

.hot_sellers_item p {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: #000;
}

.hot_sellers_item h3 {
  font-size: 20px;
  color: #fff;
}

.item-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll-left,
.scroll-right {
  overflow: hidden;
  position: absolute;
  background: rgba(0, 0, 0, 0.5); 
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.scroll-left {
  left: 0;
}

.scroll-right {
  right: 0;
}

.item-btn button {
  background-color: #add192;
  width: 170px;
  height: 40px;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 22px;
}

.item_btn:hover {
  color: #5ACD00;
  transition: all 0.3s ease;
}

/* footer section */

footer {
  height: 100px;
}

.footer__info p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}


/* Медіа-запит */

@media (max-width: 1400px) {

  #search-input {
    width: 100%;
  }

  .banner {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 560px) {
  /* Стилі для екранів з шириною до 576px */
  .navbar {
    overflow: hidden;
  }

  .navbar__logo img {
    min-width: 20vw;
    min-height: 10vw;
    width: 100%;
    height: auto;
    margin: 0 0;
  }

  .navbar__table {
    font-size: 3vw;
  }

  .hot_sellers {
    overflow: hidden;
  }

  .hot_sellers_items {
    padding: 0 9vw;
  }

  .hot_sellers_title {
    font-size: 5vw;
  }

  .hot_sellers_item {
    display: flex;
    justify-content: space-between;
    min-width: 35vw;
    width: 100%;
  }

  .hot_sellers_img {
    width: 100%;
    height: 26vw;
  }

  .hot_sellers_item p {
    overflow: hidden;
    width: 100%;
    max-height: 90px;
    font-size: 1.7vh;
  }

  .item-btn {
    position: relative;
    width: 100%;
    font-size: 2vw;
  }

  .item-btn button {
    min-height: 7vw;
    max-width: 30vw;
    width: 100%;
    height: auto;
    border-radius: 5vw;
    font-size: 4vw;
  }

  .item-btn h3{
    font-size: 3vw;
  }

  .categories {
    gap: 5vw;
  }

  .category__image {
    border-radius: 10vw;
    max-height: 90vw;
    min-width: 90vw;
    width: 100%;
    height: 100%;
  }

  .category__title {
    font-size: 5vw;
  }

  footer {
    overflow: hidden;
  }

  .footer__info p {
    width: 100%;
    padding: 10vw 0;
  }
  
}

@media (max-width: 311px) {
  .hot_sellers_item p {
    font-size: 5vw;
  }

  .footer__info p {
    font-size: 5vw;
  }
}