* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Jura', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  top: 0;
  padding: 1rem;
}

.navbar__menu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  list-style: none;
}

.navbar__link {
  color: #000;
  display: inline;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 0.3rem;
  height: 100%;
}

.navbar__search {
  display: flex;
  width: 100vh;
}

.navbar__logo {
  margin-right: auto;
}

.navbar__logo img {
  min-width: 20vh;
  min-height: 10vh;
  width: 100%;
  height: auto;
}

.navbar__item {
  margin-right: 1rem;
}

#search-input {
  background-color: #DEFFB5;
  border: none;
  width: 800px;
  height: 40px;
  outline: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

#search-btn {
  background-color: #5ACD00;
  height: 38px;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-right: 40px;
}

#search-btn:hover {
  background: #9cffac;
  transition: all 0.3s ease;
}

.navbar__link:hover {
  color: #5ACD00;
  transition: all 0.3s ease;
}

.navbar__cart {
  display: flex;
  justify-content: right;
  align-content: center;
}

.navbar__cart img {
  width: 40px;
  height: 100%;
}

/*main section*/

main {
  background-color: #B5DE82;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.banner {
  position: relative;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories__list {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

  max-width: 1500px;
  height: 1000px;
  gap: 3vh;
}

.category {
  text-align: flex-start;
  width: 400px;
  height: 400px;
  position: relative;
}

.category__title {
  color: white;
  font-size: 2rem;
  position: relative;
  text-align: center;
  bottom: -40px;
  z-index: 1;
}

.category__image {
  width: 100%;
  height: 100%;
  mix-blend-mode: darken;
  border: 1px solid gray;
  border-radius: 50px;
}

.hot_sellers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid gray;
  background-color: #89d350;
  width: 100%;
}

.hot_sellers_items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  padding: 0 50px;
}

.hot_sellers_item {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  min-width: 150px;
  justify-content: space-betwee;
  align-items: center;
  flex-shrink: 0; 
  height: 300px;
}

.hot_sellers_img {
  width: 200px;
  height: 150px;
}

.hot_sellers_title {
  font-size: 30px;
  color: #000;
  margin-left: 0;
}

.hot_sellers_item p {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  max-height: 100px;
  width: 100%;
  height: 50%;
  color: #000;
}

.hot_sellers_item h3 {
  font-size: 20px;
  color: #fff;
}

.scroll-left,
.scroll-right {
  overflow: hidden;
  position: absolute;
  background: rgba(0, 0, 0, 0.5); 
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.scroll-left {
  left: 0;
}

.scroll-right {
  right: 0;
}

.item-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #add192;
  width: 170px;
  height: 40px;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
}

.item_btn:hover {
  color: #5ACD00;
  transition: all 0.3s ease;
}

/* footer section */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0 25px;
}

.footer__logo {
  margin-right: auto;
}

.footer__logo img {
  width: 150px;
  height: 60px;
  height: auto;
  width: auto;
}

.footer__info {
  text-align: center;
  flex-grow: 1;
  margin-bottom: 20px;
}


/* Медіа-запит */

@media (max-width: 1400px) {

  #search-input {
    width: 100%;
  }

  .banner {
    width: 100%;
    height: auto;
  }

  .hot_sellers {
    overflow: hidden;
  }

  .hot_sellers_items {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
  }

  .categories__list {
    width: 100%;
    height: 100%;
    gap: 10px;
  }

  .category__image {
    border-radius: 5vw;
    width: 90%;
    height: 80%;
  }

}

@media (max-width: 853px) {
  .navbar__logo img {
    min-width: 20vw;
    min-height: 10vw;
    width: 100%;
    height: auto;
    margin: 0 0;
  }

  .category__image {
    border-radius: 5vw;
    width: 100%;
    height: 80%;
  }
}

@media (max-width: 780px) {

  .category {
    position: relative;
    width: 80%;
    height: auto;
  }
}

@media (max-width: 560px) {
  /* Стилі для екранів з шириною до 576px */
  .navbar {
    overflow: hidden;
  }

  .navbar__logo img {
    min-width: 2vw;
    min-height: 2vw;
    width: 100%;
    height: auto;
    margin: 0 0;
  }

  .hot_sellers_title {
    font-size: 5vw;
  }

  .btn {
    overflow: hidden;
    width: 150px;
    height: 30px;
  }

  .category__title {
    font-size: 6vw;
    
  }

  .category h3 {
    position: absolute;
  }

  .category__image {
    border-radius: 10vw;
    width: 100%;
    height: 90%;
  }

  footer {
    overflow: hidden;
  }

  .footer__logo img {
    min-width: 2vw;
    min-height: 2vw;
    width: 100%;
    height: auto;
    margin: 0 0;
  }

  .footer__info p {
    font-size: 10px;
    flex-wrap: wrap;
    width: 100%;
  }
  
}